
#mobile-btn{
    color:white;
}
.navbar-toggler-icon{
    color:white;
}
#mobile-btn span{
    color:white;
}
#outer-nav{
    background: linear-gradient(180deg,#494c56,#53555e);
    font-size:1.2rem;
    color:#899da8;   
}
.nav-link{
    color: white!important;
}
.nav-link:hover{
    color:#899da8!important;
    
}
.nav-link {
    display: inline-block;
    position: relative;
    color: #899da8;
}
  
.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #899da8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.drp-dwn{
    height:50px;
    padding:10px;
    font-size:1.3rem;
    
}
.drp-dwn.dropdown-item{
    color:white;
    font-weight:400;
}
.drp-dwn:hover{
    transform: scale(1.04);
    border-radius: 10px;

}
.dropdown-menu.show{
    padding:10px;
    background-color: #53555e;
    
}

.nav-link:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}
#ig-up{
    display:none;
}
@media screen and (max-width:991px){
    #ig-up{
        display:block;
        
    }
    #ig-down{
        display:none;
        
    }
}
@media screen and (max-width:400px){
    #ig-up{
        display:none;
        
    }
    #ig-down{
        display:none;
        
    }
}

